body {
  margin: 0;
  font-family: "Heebo", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1a2940;
  direction: rtl;
}

.container {
  height: 80vh;
  width: 120vh;
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}