.content-container {
    flex: 3;
    background-color: #24364e;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
  }
  
  .form-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-top: 2rem;
  }

  .content-container h1 {
    font-size: 2.5rem;
    margin: 0;
  }
  
  .content-container h2 {
    font-weight: 1;
    font-size: 2rem;
    margin: 0;
    margin-bottom: -10px;
  }
  
  .form-container input {
    width: 8rem;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-weight: bolder;
  }

  .form-container button {
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    background-color: white;
    font-size: medium;
    font-weight: bold;
    color: #87bfff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .form-container button:hover {
    background-color: #609ac7;
  }
  
  .content-container p {
    font-size: 1.2rem;
    min-height: 2rem;
  }